*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../../images/bg-stars.svg');
    background-repeat: no-repeat;
    background-color: #1F1D28;
    background-size: contain;
    height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
}

.container .text {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 100px;
    letter-spacing: 10px;
}

.container {
    background-image: url('../../images/pattern-hills.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
}

.container .clock {
    display: flex;
    margin-bottom: 300px;
}

.item {
    color: #EF5E86;
    width: 150px;
    height: 120px;
    position: relative;
    margin: 20px;
}

.item .effect {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.241);
    z-index: 100;
}

.item .label {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 1.3em;
    color: hsl(237, 18%, 59%);
    letter-spacing: 4px;
}

div.top, div.bottom {
    width: 150px;
    height: 60px;
    background-color: #34364F;
    border-radius: 8px;
    position: relative;
}

div.bottom {
    box-shadow: 0px 10px 0px #0e0e0e43;
}

div.top::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #1F1D28;
    bottom: -5px;
    left: -5px;
    border-radius: 50%;
    z-index: 1000;
}

div.top::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #1F1D28;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
    z-index: 1000;
}

.value {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: bold;
}


.attribution {
    display: none;
}